<!doctype html>

<head>
    <title>Hello from Flask</title>
    <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block javascript %}
    <SCRIPT SRC="myscript.js"></SCRIPT>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            // add a zero in front of numbers<10
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('nowtime').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout(function () { startTime() }, 500);
        }

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    </script>
    {% endblock %}
</head>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<body onload="startTime()">
    <!--
    <table border="1" width="500">
        <tr>
            <th>Where</th>
            <th>Time</th>
        </tr>
        <tr>
            <th>Now</th>
            <th id="nowtime"></th>
        </tr>
        <tr>
            <th>Tokyo</th>
            <th>{{ cat1 }}</th>
        </tr>
        <tr>
            <th>St. Pete</th>
            <th>{{ cat2 }}</th>
        </tr>
        <tr>
            <th>Paris</th>
            <th>{{ cat3 }}</th>
        </tr>
    </table>
-->
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">NOW</div>
            <div class="col-xs-6 col-md-6" id="nowtime"></div>
        </div>
    </div>
    <hr width=300 size=8>
    <br></br>
    <div class="container">
        <div class="row panel panel-default">
            <div class="col-xs-6 col-md-4">
                <p>Tokyo</p>
                <p>{{ cat1 }}</p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>St. Pete</p>
                <p>{{ cat2 }}</p>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>Paris</p>
                <p>{{ cat3 }}</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                Panel content
            </div>
            <div class="panel-footer">Panel footer</div>
        </div>

</body>