<!doctype html>
<html lang="en">

<head>
    <title>Hello from Flask</title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">

    </script>
    <script type="text/javascript">

        document.write("<FORM NAME='clock'><INPUT TYPE='text' NAME='clock_box' SIZE=20></FORM>");
        ClockDisplay();
        
        function ClockDisplay() {
            var d_Now = new Date(); 
            var d_Hour = d_Now.getHours(); var d_Min = d_Now.getMinutes(); 
            var d_Sec = d_Now.getSeconds();
            if (d_Hour < 10) { 
                d_Hour = "0" + d_Hour; 
            } 
            if (d_Min < 10) { 
                d_Min = "0" + d_Min; 
            } if (d_Sec < 10) {
                d_Sec = "0" + d_Sec;
            } 
            document.clock.clock_box.value = d_Hour+ "時" + d_Min + "分" + d_Sec + "秒"; setTimeout("ClockDisplay()", 1000)
        }
    </script>
</head>

<body onload="startTime()">
    <div id="txt"> 0000 </div>
</body>

</html>