{% extends "bootstrap/base.html" %} 

{% block title %}Test page{% endblock %} 

{% block content %}
<body onload="startTime()">
    <div class="panel panel-default">
        <div class="panel-body" align=center>
            <p id="nowtime"></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <p>Tokyo</p>
                <ul>
                    {% for n in cat1 %}
                    <li> {{n}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>St. Pete</p>
                <ul>
                    {% for n in cat2 %}
                    <li> {{n}}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-6 col-md-4">
                <p>Paris</p>
                <ul>
                    {% for n in cat3 %}
                    <li> {{n}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</body>
{% endblock %} 

{% block scripts %}
<script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('nowtime').innerHTML = h + ":" + m + ":" + s;
        t = setTimeout(function () { startTime() }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }
</script>
{{super()}} 
{% endblock %}