{% extends "bootstrap/base.html" %} {% block title %}Global time{% endblock %} {% block content %}

<body onload="startTime()">

    <div class="page-header">
        <h1>Global clock <small>for your global office locations</small></h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body" align=center>
            <table border="0" width="500" cellspacing="0" cellpadding="5" class="tblnow">
                <tr>
                    <th> Current time: </th>
                    <th id="nowtime"></th>
                </tr>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading" align=center>Tokyo, St.Pete, Paris</div>
                    <table class="table">
                        {% for n in cat1 %}
                        <tr>
                            <td> {{n}} </td>
                            <td> {{cat2[loop.index0]}} </td>
                            <td> {{cat3[loop.index0]}} </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %} {% block scripts %}
<script>
    function startTime() {
        var today = new Date();
        var y = today.getFullYear();
        var month = today.getMonth();
        var d = today.getDate();
        var dow = today.getDay();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();

        var dayofw = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        //document.getElementById('nowtime').innerHTML = y + "/" + month + "/" + d + " (" + dayofw(dow) + ") " + h + ":" + m + ":" + s;
        document.getElementById('nowtime').innerHTML = y + "-" + month + "-" + d + " (" + dayofw[dow] + ") " + h + ":" + m + ":" + s;
        t = setTimeout(function () { startTime() }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }


</script>
{{super()}} {% endblock %}