{% extends "bootstrap/base.html" %} {% block title %}Test page{% endblock %} {% block content %}

<body onload="startTime()">
    <div class="panel panel-default">
        <div class="panel-body" align=left>
            <p id="nowtime"></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-2">
                <p>Tokyo</p>
                <table class="table">
                    {% for n in cat1 %}
                    <tr>
                        <td> {{n}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-xs-6 col-md-2">
                <p>St. Pete</p>
                <table class="table">
                    {% for n in cat1 %}
                    <tr>
                        <td> {{n}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-xs-6 col-md-2">
                <p>Paris</p>
                <table class="table">
                    {% for n in cat1 %}
                    <tr>
                        <td> {{n}} </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</body>
{% endblock %} {% block scripts %}
<script>
    function startTime() {
        var today = new Date();
        var y = today.getFullYear();
        var month = today.getMonth();
        var d = today.getDate();
        var dow = today.getDay();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();

        var dayofw = new Array ("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
        // add a zero in front of numbers<10
        m = checkTime(m);
        s = checkTime(s);
        //document.getElementById('nowtime').innerHTML = y + "/" + month + "/" + d + " (" + dayofw(dow) + ") " + h + ":" + m + ":" + s;
        document.getElementById('nowtime').innerHTML = y +  "-" + month + "-" + d + " (" + dayofw[dow] + ") " + h + ":" + m + ":" + s;
        t = setTimeout(function () { startTime() }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

</script>
{{super()}} {% endblock %}